# Object files
*.o
*.lst
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.uvoptx
*.build_log.htm
*.uvguix.*
*.bak
*.dep
[Bb]uild/
